.text-align-center {
    text-align: center;
}

html, body {
    height: 100%;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    margin-top: 20px;
}